<!DOCTYPE html>
<html>
  <head>
    <title>Football Betting Odds</title>
    <script src='js/jquery.js'></script>
    <script src='js/interface.js'></script>
  </head>
  <body>
    <h1>Football Betting Odds</h1>
    <a>See what matches are running now</a>
    <table></table>
  </body>
</html>